body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Estilo para la tabla */
table {
    width: 80%;
    border-collapse: collapse;  /* Colapsa los bordes de la tabla */
    margin: 20px auto; /* Centra la tabla en la página */


}

th, td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

/* Estilo para los gráficos */
.graficos-contenedor {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
}

.circulo, .barras {
  flex: 1 1 45%;
  max-width: 45%;
  min-width: 300px;
  box-sizing: border-box;
}
.ediciones{
    text-align: center;
}


