body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Estilo para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;

}

th, td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

/* Estilo para los gráficos */
#grafica, #barras {
    width: 100%;
    max-width: 600px; /* Ajusta al tamaño máximo que desees */
    margin: 0 auto;
}

