/* Estilo general del cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Estilo para las secciones */
section {
    padding: 20px;
    margin-bottom: 20px;
}
section p{
    text-align: left;
    padding-top: 10px;
}

/* Estilo para los títulos de las secciones */
h2 {
    color: #333;
}

/* Estilo para las listas de las secciones */
ul {
    list-style-type: none;
    margin-left: 33px;
    text-align: justify;
    padding-top: 10px;
}
.imagenes-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.responsive-img {
    max-width: 100%;
    height: auto;
    flex: 1 1 calc(50% - 10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}
.popup-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}
.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
/* Responsive design for desktop and laptops of all sizes */
@media (min-width: 1024px) {
    body {
        font-size: 16px;
    }

    section {
        padding: 40px;
        margin-bottom: 30px;
    }

    .imagenes-container {
        gap: 20px;
    }

    .responsive-img {
        /* Ajusta el tamaño de las imágenes para que ocupen un tercio del contenedor con un espacio entre ellas */
        flex: 1 1 calc(33.33% - 20px); 
        height: 500px; 
        padding: 20px;
    }

    .popup-content {
        max-width: 60%;
        max-height: 70%;

    }

    .close {
        font-size: 50px;
        top: 30px;
        right: 50px;
    }
}

/* Additional responsive design for smaller laptops */
@media (min-width: 768px) and (max-width: 1023px) {
    body {
        font-size: 15px;
    }

    section {
        padding: 30px;
        margin-bottom: 25px;
    }

    .imagenes-container {
        gap: 15px;
    }

    .responsive-img {
        flex: 1 1 calc(50% - 15px);
    }

    .popup-content {
        max-width: 70%;
        max-height: 75%;
    }

    .close {
        font-size: 45px;
        top: 25px;
        right: 40px;
    }
}

