/* Estilo general del cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Estilo para las secciones */
section {
    padding: 20px;
    margin-bottom: 20px;
}
section p{
    text-align: left;
    padding-top: 10px;
}

/* Estilo para los títulos de las secciones */
h2 {
    color: #333;
}

/* Estilo para las listas de las secciones */
ul {
    list-style-type: none;
    margin-left: 33px;
    text-align: justify;
    padding-top: 10px;
}
.imagenes-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.responsive-img {
    max-width: 100%;
    height: auto;
    flex: 1 1 calc(50% - 10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}
.popup-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}
.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
/* Responsive para portátiles (ancho entre 1024px y 1440px) */
@media (min-width: 1024px) and (max-width: 1440px) {
    body {
        font-size: 18px;
    }
    section {
        max-width: 900px;
        margin: 30px auto;
        padding: 30px;
    }
.imagenes-container {
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: space-between;
}
.responsive-img {
      flex: 0 1 calc(50% - 10px); /* se adapta sin exceder */
        max-width: 100%;
      object-fit: cover; /* esto recorta para igualar */
    height: 300px; /* o cualquier altura fija */
}
    h2 {
        font-size: 2.2em;
    }
    ul {
        font-size: 1.1em;
    }
}
